<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebApp</title>
    <script src="/script.js"></script>
</head>
<body>
    <h1>Home</h1>
    <button>View list</button>
    <form action="http://localhost:8080/list" method="get">
    <label>Ingredient:</label>
    <input type="text" name="ingredient" placeholder="ingredient"/>
    <label>Measurement:</label>
    <input type="text" name="measurement" placeholder="quantity"/>
    <label>Cost:</label>
    <input type="text" name="cost" placeholder="cost"/>
    <input type="submit" placeholder="Add">
    </form>  
</body>
</html>